.space {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card {
    width: 31.5%;
    height: 100%;
    opacity: 0.9;
    text-align: center;
    font-size: 16px;
    margin: 20px 10px;
    transition: 0.3s;
}

.card-img-top {
    min-width: 100%;
    min-height: 350px;
    object-fit: cover;
    border: 5px solid transparent;
    box-sizing: border-box
}

.card-home-img-top {
    width: 80%;
    height: 20%;
    object-fit: cover;
}

.card-body {
    width: 100%;
    height: 100%;
    font-size: 11px;
}

.scrollable {
    overflow-y: auto;
    max-height: 240px;
}

.card:hover {
    opacity: 1;
    border-style: solid;
    border-width: thin;
}

.modal-body {
    position: relative;
    /* This avoids image to go off the container */
    height: 250px;
}

.img-responsive {
    width: 100%;
    height: 100%;
}

.modal-dialog {
    height: 100%;
    /* = 90% of the .modal-backdrop block = %90 of the screen */
}

.modal-content {
    height: 100%;
    /* = 100% of the .modal-dialog block */
}

.card-img-top:hover {
    cursor: pointer;
    border: 5px black solid;
}

.activityLink {
    color: #0000EE;
}

.activityLink:hover {
    cursor: pointer;
    text-decoration: underline;
}

.avatar {
    height: 100%;
    width: 100%;
    max-height: 180px;
    max-width: 180px;
    object-fit: cover;

}

.avatar.avatar-heading:hover {
    cursor: pointer;
}



#uploadbanner {
    margin-right: -3%;
}

.modal.rain {
    position: absolute;
    top: 5%;
    right: 20%;
    bottom: 0;
    left: 0;
    z-index: 10040;
    overflow: visible;
    overflow-y: visible;


}

.person {
    border: 5px solid transparent;
    padding-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;

}

.person:hover {
    cursor: pointer;
    border: 5px black solid;
}

.person2 {
    border: none;
}

.person2.card-img-top.cover:hover {
    border: none;
    cursor: pointer;
}

.person2.card-img-top:hover {
    border: none;
    cursor: default;
}

.movieRec {
    width: 20%;
    height: 35%;
    object-fit: cover;
    border: 5px solid transparent;
    box-sizing: border-box
}

.movieRec:hover,
.movieProfile:hover {
    cursor: pointer;
    border: 5px solid black;
}

.editInfo {
    margin-right: 0.5%;
}

.smallModal {
    /* 80% of window height */
    height: 70%;
}

.reviewModal {
    height: 94%;
}


.modal-body {
    /* 100% = dialog height, 120px = header + footer */
    max-height: calc(100% - 120px);
    overflow-y: auto;
}

.movieProfile {
    width: 14%;
    height: 25%;
    object-fit: cover;
    border: 5px solid transparent;
    box-sizing: border-box
}

.profileMargin {
    margin-left: 1.5%;
}

.unfollow {
    align-content: flex-end;
}

.listScroll {
    max-height: 350px;
    overflow-y: auto;

}


.searchSpace {
    margin-top: 3%;
}

/* For Star Rating System*/
.star-rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding: 10px 10px 10px 0;
}

.star-rating input[type=radio] {
    display: none;
}

.star-rating label {
    color: #bbb;
    font-size: 35px;
    padding: 0;
    cursor: pointer;
    transition: all .3s ease-in-out
}

.star-rating label:hover,
.star-rating label:hover~label,
.star-rating input[type=radio]:checked~label {
    color: #f2b600
}



.hide {
    position: absolute;
    top: -1px;
    left: -1px;
    width: 1px;
    height: 1px;
}

.reviewAvatar {
    height: 100%;
    width: 100%;
    max-height: 120px;
    max-width: 120px;
    object-fit: cover;
    margin-right: 40px;
}

.yellow {
    color: #f2b600;
}

.toy {
    margin-top: 3.5px
}

.followLink:hover {
    cursor: pointer;
}

.upvote1 {
    position: absolute;
    bottom: 0;
    right: 0;
}

.upvote2 {
    opacity: 0.7;
}

.opacity {
    opacity: 1;
}

.upvote2:hover {
    opacity: 1;
}

.inline{
    display: inline;
    vertical-align: top;
}

.upvote3{
    position:absolute;
    top:0;
    right:0;
}

#repeat:hover{
 border-color:black;
border-style:solid;
}

.horizontal{
    margin-left:5px;
}


/* dark bluish background from register page */
.body {
    background: rgb(0, 0, 0);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 23, 31, 1) 4%, rgba(0, 110, 165, 1) 39%, rgba(0, 52, 89, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 23, 31, 1) 4%, rgba(0, 110, 165, 1) 39%, rgba(0, 52, 89, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 23, 31, 1) 4%, rgba(0, 110, 165, 1) 39%, rgba(0, 52, 89, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#003459', GradientType=0);
    /* IE6-9 */
}