<body>

   <div class="container-fluid">
      <div class="row justify-content-end">

         <h5 class="avatar-heading">Change your Avatar:</h5>

      </div>
      <div class="row justify-content-end">

         <img class="avatar avatar-heading" src={{'images/'+currentUser.avatar}} alt="No avatar found" data-toggle="modal"
            data-target="#avatarModal">

      </div>
      <div class="row justify-content-end">

         <form id="uploadbanner" enctype="multipart/form-data" method="post" action={{'/api/files/'+currentUser.id}}>
            <input id="fileupload" name="avatar" type="file" accept="image/*" />
            <br>
            <input class="btn btn-primary btn-sm" type="submit" value="Upload" id="submit" disabled />
         </form>

      </div>
   </div>




   <div class="container">
      <div class="row">
         <h3>Recently Seen:</h3>
      </div>
      <div class="row">
         <img class="movieRec" src={{'https://image.tmdb.org/t/p/original/'+movie.poster_path}} alt="Movie Poster Not Found"
            ng-repeat="movie in currentUser.watched" data-toggle="modal" data-target="#movieDetailsModal" ng-click="showMovieDetails(movie)">
      </div>
      <div class="row">
         <br><br>
      </div>



      <div class="row">
         <h3>Favorite Movies:</h3>
      </div>
      <div class="row">
         <img class="movieRec" src={{'https://image.tmdb.org/t/p/original/'+movie.poster_path}} alt="Movie Poster Not Found"
            ng-repeat="movie in currentUser.favoriteMovies" data-toggle="modal" data-target="#movieDetailsModal"
            ng-click="showMovieDetails(movie)">
      </div>
   </div>
</body>

<div class="modal fade" id="movieDetailsModal" tabindex="-1" role="dialog" aria-labelledby="movieDetailsModalLabel"
   aria-hidden="true">
   <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title">{{movieTitle}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-md-6">
                     <img src={{'https://image.tmdb.org/t/p/original/'+moviePosterPath}} class="img-responsive" alt="Movie Poster Not Found">
                  </div>
                  <div class="col-md-6">
                     <strong>Overview:</strong> {{movieDescription}}
                     <br><br>
                     <strong>Genre(s):</strong> {{movieDisplayGenres}}
                     <br><br>
                     <strong>Average Rating:</strong> {{movieRating}}/10
                     <br><br>
                     <strong>Release Date:</strong> {{movieDisplayDate}}
                  </div>
               </div>
            </div>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-success" ng-if="!inFavorites()" ng-click="addToFavorites()">Add to
               Favorites</button>
            <button type="button" class="btn btn-danger" ng-if="inFavorites()" ng-click="removeFromFavorites()">Remove
               from Favorites</button>
            <button type="button" class="btn btn-info" ng-click="writeReview()">Write a Review for this movie</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>


<div class="modal rain fade bd-example-modal-lg" id="avatarModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
   aria-hidden="true">
   <div class="modal-dialog modal-lg">
      <div>
         <div>
            <img src={{'images/'+currentUser.avatar}}>
         </div>
      </div>
   </div>
</div>

<!-- <div class="modal fade" id="avatarModal" tabindex="-1" role="dialog" aria-labelledby="avatarModalLabel" aria-hidden="true">
   
           <div class="modal-content">              
             <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
               <img class="modalcontent" src={{'images/'+currentUser.avatar}}>
             </div>
           </div>
        
       </div> -->